<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Person List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Car List</h1>
<a href="addCar">Add Car</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Marque</th>
            <th>Modèle</th>
        </tr>
        <tr th:each ="car : ${cars}">
            <td th:utext="${car.marque}">...</td>
            <td th:utext="${car.modele}">...</td>
        </tr>
    </table>
</div>
</body>
</html>